body { background-color: rgb(0, 136, 61);}

    h1 {font-family:Arial, Helvetica, sans-serif;}

    .blanco {font-style: italic; color: lightcyan;}


    .cafesito {font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(250, 234, 173);}


    .amarillo {font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: rgb(241, 255, 38); font-size: small;}


    .rosa {font-family:Verdana, Geneva, Tahoma, sans-serif; color:rgb(190, 52, 52); font-size: small;}





