body { background-color: rgb(181, 193, 196);}


h1 {text-align: right;}

.ComicSans {color: crimson; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

.hola {color: rgb(219, 57, 16);}


.dos {color: rgb(5, 207, 5); background-color: ivory; font-style: italic;}


.tres {color: orange;}


.cuatro {font-style:italic; font-size: 13px; text-align: center;}
